//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$font-primary: Roboto;

//variables de color
$black: #0D0D0D;
$white: #FFFFFF;
$white-bold: #F2F2F2;
$pink: #FE4461;
$dark-violet: #171C26;
$violet: #2E2D47;
$pastel: #747CBC;
$white-light: #E4E6E9;


